
.chart-container {
  background: #ffffff;
  border: 2px solid #f0f0f0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 20px;
  max-width: 800px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width: 1024px) {
  .chart-container {
    padding: 2rem;
  }
}


@media screen and (max-width: 1023px) {
  .chart-container {
    padding: 1.2rem;
  }
}


@media screen and (max-width: 600px) {
  .chart-container {
    padding: 0.8rem;
    border-radius: 15px; 
  }
}
